@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body 
{
    height: 100vh;
    background-image: url("../img/fondo.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}
.main-container
{
    width: 100%;
    /* padding:1rem; */
}
.contenedor 
{
    backdrop-filter: url(filters.svg#filter) blur(5px);
    margin-left: 0;
    max-width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background: inherit;
    overflow: auto;
}
/* ?Formulario */

.contenedor-blanco
{
    background-color: white;
    margin-left: 0;
    max-width: 100%;
    height: 100%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor:before
{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: 5px;
    height: initial;
    overflow: auto;
  }
  .warning{
    color: rgb(62,148,236);
  }
  .st_viewport{
    max-height: 100%;
    /* overflow: auto; */
  }
  
  .nav-pills .nav-link:hover {
    color: #0d6efd !important;
  }

  .nav-pills .active:hover {
    color: rgb(178, 178, 178) !important;
  }

  input.btn {
    margin-left: 10px;
    margin-bottom: 24px;
  }
  
  .card {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    min-width: 480px;
  }

  .card, .card-body {
    height: fit-content !important;
  }

  table.table {
    margin-bottom: 0;
  }

  /** Sticky table styles **/
  .st_viewport{
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(0, 0, 0);
    margin: 0 0;
    text-align: left;
  }
  /* ###  Table wrap */
  /* ##   header */
  .st_table_header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: rgb(27,30,36);
    color: rgb(220,220,220);
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .st_table_header h2{
    font-weight: 400;
    margin-left: 20px;
    padding-top: 20px;
  }
  .st_table_header a{
    margin-left: 20px;
  }
  a.btn.btn-link {
    text-decoration: none;
  }
  .st_table_header .st_row{
    color: rgba(220,220,220, .9);
  }
  /* .st_table_header .st_column{
    
  } */
  /* ##  table */
  .st_table{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* #   row */
  .st_row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .st_table .st_row:nth-child(even){
    background-color: rgba(0,0,0, .1)
  }
  /* #   column */
  .st_column{
    padding: 10px 20px;
    word-wrap: break-word;
  }
/*? Actuaciones */
.A-Referencia{  width:20%;  min-width: 120px;}
.A-Descripcion{  width:20%;  min-width: 280px;}
.A-Tiempo{  width:20%;  min-width: 80px;}
.A-Importe{  width:20%;  min-width: 100px;}
.A-Acciones{  width:20%;  min-width: 330px;}

/*? Clientes */
.C-CodCliente{  width:14.28%;  min-width: 90px;}
.C-DNI{  width:14.28%;  min-width: 140px;}
.C-Apellidos{  width:14.28%;  min-width: 140px;}
.C-Nombre{  width:14.28%;  min-width: 140px;}
.C-Direccion{  width:14.28%;  min-width: 180px;}
.C-Telefono{  width:14.28%;  min-width: 140px;}
.C-Acciones{  width:14.28%;  min-width: 330px;}
/*? Facturas */
.F-IdFactura{  width:20%;  min-width: 90px;}
.F-FechaFactura{  width:20%;  min-width: 160px;}
.F-CodCliente{  width:20%;  min-width: 90px;}
.F-IdReparacion{  width:20%;  min-width: 90px;}
.F-Acciones{  width:20%;  min-width: 330px;}
/*? Vehiculos */
.V-Matricula{  width:14.28%;  min-width: 120px;}
.V-Marca{  width:14.28%;  min-width: 150px;}
.V-Modelo{  width:14.28%;  min-width: 180px;}
.V-Color{  width:14.28%;  min-width: 100px;}
.V-FechaMatriculacion{  width:14.28%;  min-width: 140px;}
.V-CodCliente{  width:14.28%;  min-width: 80px;}
.V-Acciones{  width:14.28%;  min-width: 330px;}

/*? Reparaciones */
.R-IdReparacion{  width:11%; min-width: 70px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.R-Matricula{  width:11%;  min-width: 120px;}
.R-FechaEntrada{  width:11%;  min-width: 140px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.R-Km{  width:11%;  min-width: 110px;}
.R-Averia{  width:11%;  min-width: 180px;}
.R-FechaSalida{  width:11%;  min-width: 140px;}
.R-Reparado{  width:11%;  min-width: 60px;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.R-Observaciones { width:11%; min-width:10%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;padding: 10px 20px;word-wrap: break-word;}
.R-Acciones{  width:11%;  min-width: 330px;}

/*? Empleados */
.E-CodEmpleado{  width:10%;  min-width: 80px;}
.E-DNI{  width:10%;  min-width: 150px;}
.E-Nombre{  width:10%;  min-width: 80px;}
.E-Apellidos{  width:10%;  min-width: 120px;}
.E-Direccion{  width:10%;  min-width: 120px;}
.E-Telefono{  width:10%;  min-width: 140px;}
.E-CP{  width:10%;  min-width: 100px;}
.E-FechaAlta{  width:10%;  min-width: 140px;}
.E-Categoria{  width:10%;  min-width: 120px;}
.E-Acciones{  width:10%;  min-width: 330px;}

/*? Intervienen */
.Int-CodEmpleado{  width:25%;  min-width: 120px;}
.Int-IdReparacion{  width:25%;  min-width: 140px;}
.Int-Horas{  width:25%;  min-width: 120px;}
.Int-Acciones{  width:25%;  min-width: 330px;}

/*? Incluyen */
.Inc-IdRecambio{  width:25%;  min-width: 80px;}
.Inc-IdReparacion{  width:25%;  min-width: 80px;}
.Inc-Unidades{  width:25%;  min-width: 120px;}
.Inc-Acciones{  width:25%;  min-width: 330px;}

/*? Realizan */
.Rea-IdReparacion{  width:25%;  min-width: 80px;}
.Rea-Referencia{  width:25%;  min-width: 150px;}
.Rea-Horas{  width:25%;  min-width: 120px;}
.Rea-Acciones{  width:25%;  min-width: 330px;}

/*? Recambios */
.Rec-IdRecambio{  width:16.66%;  min-width: 120px;}
.Rec-Descripcion{  width:16.66%;  min-width: 280px;}
.Rec-UnidadBase{  width:16.66%;  min-width: 180px;}
.Rec-Stock{  width:16.66%;  min-width: 80px;}
.Rec-PrecioReferencia{  width:16.66%;  min-width: 80px;}
.Rec-Acciones{  width:16.66%;  min-width: 330px;}  


  .title {
    text-align: center;
    padding: 2rem;
  }
  .text {
    background-image: url("../img/gradient.gif");
    background-attachment: fixed;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.75);
    font-size: 8rem;
    font-weight: bold;
  }
  .text-title {
    background-image: url("../img/gradient.gif");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, .2);
    background-attachment: fixed;
    font-size: 10rem;
    font-weight: 900;
  }
  .text-normal {
    background-image: url("../img/gradient.gif");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    font-size: 2rem;
    font-weight: bolder;
  }

.maquina-escribir {
  /* background: #f7dd4a; */
  font-family: monospace;
  position: relative;
  background: inherit;
}

.maquina-escribir::after {
  content: "";
  border-left: 4px solid black;
  background: white;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: maquinaescribir 2s infinite alternate steps(8);
}

@keyframes maquinaescribir {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}